/*
Syntax of using CSS rules:

	selector{
		property:value;
		}
*/

/*Universal Selector*/
/*It targets all the elements in our webpage.*/
*{
/*font-family changes the style of the font*/
font-family: "Courier New", monospace;
/*font-size change the size of the text*/
font-size: 20px;
}

/*Type selector:
tag-name: h1*/
h1{
color: yellow;
}

/*ID selector*/
/*It targets only one element.*/
#zuitt-motto{
	letter-spacing: 5px;
}
/*letter-spacing property changes the spaces between the characters*/


/*Class Selector*/
/*.class-name*/
.offering-item{
/*text-transform property changes the font to a certain case*/
	text-transform: uppercase;
}


/*Attribute selector*/
/*[attribute*/
	[required]{
		border-width: 2px;
		border-style: solid;
		border-color: navy;
		width: 90%;
	}


/*h3{
	Letter-spacing: 25px !important;
}*/

/*Adjacent sibling selector*/
/*element-for-reference + targer-element*/
h3 + img{
/*height property changes the verical dimension of an element*/
/*width property changes the horizontal dimensions of an element*/

	height: 300px;
	width: 300px;
	border-radius: 150px;
}


/*Descendant Selector*/
/*element-for-reference target-element*/
#bootcamp-learning-list li{
	color: #231231;
}

/*General Sibling Selector*/
h2 ~ a {
/*text-decoration property changes lines included in text (example: overline, underline and strike)*/
/*none value will remove the underline from our anchor tag*/
	text-decoration: none;
}

/*Child selector*/
body > section > form > label{
	color: rgb(10,10,10);
}

body{
	background-color: violet;
}

section{
/*vh - viewport height*/
/*vw - viewport width*/
	height: 100vh;
	text-align: center;
}

html{
/*scroll-behavior property that changes the scrolling behavior when clicking anchor tags*/
scroll-behavior: smooth;
}

nav{
	background-color: white;
}
/*pseudo class*/
a:hover{
	background-color: #42edaf;
}

div{
	display: inline;
/*float property changes the horizontal alignment of an element to float either to the left or right of its container or div */
	float: right;
}

ol{
	list-style-type: none;
}

form{
	text-align: center;
	background-color: white;
	border-width: 2px;
	border-style: solid;
	border-color: black;
	height: 185px;
	width: 25vw;
/*the position property changes the position of an element based on a certain area*/
	position: relative;
	left: 37.5%;
}

button{
	background-color: #cd2311;
	color: white;
	border: 0;
	border-radius: 15px;
}