/*===============CSS Reset===============*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.title{
    font-family: Open Sans;
}

nav{border-top: 1px;
    border-color: black;
    position: sticky;
    top: 0;
/*    display: inline;*/
   
}
.nav-logo{
    display: inline; 
    margin-left: 10%;
}
.right-nav{
    float: right;
    margin-right: 10%;
}
.nav{
    display: inline;
    width: 30%;
    margin: 10px;
}
.tuitt-button{
    background-color: #c2195b;
    border-radius: 25px;
    color: white;
    border-width: 1px;
    padding: 5px;
    margin: 5px;
}
.apply-button{
    background-color: #c2195b;
    border-radius: 25px;
    color: white;
    border-width: 1px;
    padding: 5px;
    margin: 5px;
    opacity: 1;
}
#bg-image{
    background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
    background-size: 150%;
    max-height: 100vh;
    margin-left: 5%;
    margin-right: 5%;
    background-position: left center;
    background-attachment: scroll;
}
.container{
    color: white;
    opacity: 1;
    text-align: right;
    margin-left: 50%;
    margin-right: 10%;
}
h2{
    text-align: center;

}
.subtitle{
    font-size: 15px;
    text-align: right;
}
p{
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
}
.front-bg{
    background-size: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 40vh;
}
.title {
    font-family: Zillab Slab;
    padding: 5%;
}
.title-2{
    font-family: Zillab Slab;
    padding: 5%;
}
.pre-footer{
    background-color: #f7fbfb;
    text-align: center;
}
.book-button{
    background-color: #336589;
    border-radius: 25px;
    color: white;
    border-width: 1px;
    padding: 5px 25px;

    margin: 5px;
}
footer{
    text-align: center;
}