/*CSS Reset Rule*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: "Helvetica neue", sans-serif;
}
.text-center{
	text-align: center;
}
.h-25{
	height: 25%;
}
.p-3{
	padding: 1rem;
}
.bg-success{
	background-color: forestgreen;
}
.bg-warning{
	background-color: yellow;
}
.bg-danger{
	background-color: darkred;
}
.bg-secondary{
	background-color: grey;
}
.d-flex{
/*The flex value of the "display" property will change the element into a block-level flex container*/
	display: flex;
}
.justify-content-center{
/*The Css justify-content property allows us to manipulate the position of elements horizontally*/
	justify-content: center;
}
.align-items-center{
/*The CSS align-items property allows us to manipulate the positioning of elements vertically*/
align-items: center;
}

.flex-column{
	flex-direction: column;
}
.flex-column-reverse{
	flex-direction: column-reverse;
}
.align-items-center{

	align-self: center;
}