#internalStyle+p{
	color: green;
}

*{
	font-family: "Courier New", monospace;
	font-size: 10px;
	font-style: bold;
}

h1{
	font-size: 50px;

}			

h2{
	text-transform: uppercase;
}

.list{
	background-color: #6cba81;
}

[required]{
	border-width: 1px;
	border-style: solid;
	border-color: lightblue;
	width: 90%;

}

img + ol{
	list-style-type: none;

}

section img{
	height: 45px;
	width: 45px;
	border-radius: 25px;
}


ol~p{
	text-align: center;
}

section > #h3{
	letter-spacing: 1px;
}